<h2 class="section-title">{{ "CONTACT.TITLE" | translate }}</h2>
<div class="contact-container">
  <div class="email-label">
    <span>marioquerolamondarain@gmail.com</span>
  </div>
  <button type="button" class="btn btn-outline-success">
    <a href="mailto:marioquerolamondarain@gmail.com" target="_blank">
      <img src="./../../../assets/icons/send-2.svg" alt="Send" />
    </a>
  </button>
  <button
    ngxClipboard
    [cbContent]="'marioquerolamondarain@gmail.com'"
    type="button"
    class="btn btn-outline-success"
    (click)="showToaster()"
  >
    <img src="./../../../assets/icons/copy.svg" alt="Copy" />
  </button>
</div>
