<app-navbar></app-navbar>
<div class="content-container">
  <div>
    <app-landing-page id="home"></app-landing-page>
    <div class="space-between-section" id="about-me"></div>
    <app-about-me></app-about-me>
    <div class="space-between-section" id="experience"></div>
    <app-experience></app-experience>
    <div class="space-between-section" id="skills"></div>
    <app-skills></app-skills>
    <div class="space-between-section" id="projects"></div>
    <app-projects-and-blogs></app-projects-and-blogs>
    <div class="space-between-section" id="hobbies"></div>
    <app-hobbies></app-hobbies>
    <app-contact-me id="contact"></app-contact-me>
  </div>
</div>
