<app-navbar></app-navbar>
<div class="content-container">
  <div>
    <app-landing-page></app-landing-page>
    <div class="space-between-section"></div>
    <app-about-me></app-about-me>
    <div class="space-between-section"></div>
    <app-experience></app-experience>
    <div class="space-between-section"></div>
    <app-skills></app-skills>
    <div class="space-between-section"></div>
    <app-projects-and-blogs></app-projects-and-blogs>
    <div class="space-between-section"></div>
    <app-hobbies></app-hobbies>
  </div>
</div>
