<div class="about-me-container">
  <div class="title-container">
    <span class="section-title">{{ "ABOUT_ME.TITLE" | translate }}</span>
  </div>
  <div class="text-container">
    <span class="info">
      {{ "ABOUT_ME.DESCRIPTION_ONE" | translate }}
    </span>
  </div>
  <div class="phrase-container">
    <span class="phrase">{{ "ABOUT_ME.PHRASE" | translate }}</span>
  </div>
  <div class="small-text-container">
    <p>
      {{ "ABOUT_ME.DESCRIPTION_TWO" | translate }}
    </p>
  </div>
</div>
