@import "src/styles.scss";

.about-me-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  text-align: justify;
}

.title-container {
  grid-column: 1 / 3;
  grid-row: 1;
  gap: 0;
}

.text-container {
  grid-column: 1 / 3;
  grid-row: 2;
  padding-bottom: 25px;
}

.phrase-container {
  text-align: left;
  grid-column: 0 2;
  grid-row: 3;
}

.small-text-container {
  grid-column: 2 3;
  grid-row: 3;
}

.info {
  color: #000;
  font-family: "Varela Round", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.phrase {
  font-family: "Varela Round", sans-serif;
  color: $blue-color;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 100px;
}
