<div class="landing-page-container">
  <div class="text-container">
    <div>
      <h1 class="animation">{{ "LANDING_PAGE.HI" | translate }}</h1>
      <h1 class="animation">
        {{ "LANDING_PAGE.IM" | translate }}
        <span class="name"> {{ "LANDING_PAGE.NAME" | translate }}</span>
      </h1>
      <h2 class="animation">{{ "LANDING_PAGE.POSITION" | translate }}</h2>
      <div class="social-media animation">
        <a href="https://github.com/MarioQuerolAmondarain" target="_blank">
          <img src="./../../assets/redes/github.png" alt="GitHub enlace" />
        </a>
        <a
          href="https://www.linkedin.com/in/mario-querol-amondarain-4148b522a/"
          target="_blank"
        >
          <img src="./../../assets/redes/linkedin.png" alt="Linkedin enlace" />
        </a>
        <button
          ngxClipboard
          [cbContent]="'marioquerolamondarain@gmail.com'"
          (click)="showToaster()"
        >
          <img src="./../../assets/redes/gmail.png" alt="Contacta!" />
        </button>
      </div>
    </div>
  </div>
  <div class="img-container">
    <img src="./../../../assets/photos/Me.png" alt="Mario" />
  </div>
</div>
