h1 {
  margin-bottom: 0px;
  font-family: "Patua One", sans-serif;
  font-size: 4.5vw;
}

h2 {
  margin-top: 0px;
  font-family: "Patua One", sans-serif;
  color: #88ab8e;
  font-size: 2.5vw;
}

.landing-page-container {
  display: grid;
  grid-template-columns: 55% 45%;
  width: 100%;
  height: 100vh;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  background-color: #afc8ad;
  height: 100vh;
  display: flex;
  justify-content: center;
  object-fit: contain;
  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 0;
  }
}

.social-media {
  display: flex;
  justify-content: end;
  img {
    width: 40px;
    padding-left: 10px;
  }
}
