/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

$light-green-color: #afc8ad;
$dark-green-color: #88ab8e;
$white-color: #f2f1eb;
$blue-color: #8dcbbc;

html,
body {
  height: 100%;
  background-color: $white-color;
}
body {
  margin: 0;
  font-family: "Pathway Gothic one", sans-serif;
  font-size: x-large;
}

h1,
h2 {
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
}

.section-title {
  color: #81a984;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.space-between-section {
  width: auto;
  height: 60px;
}
