<span class="section-title">{{ "HOBBIES.TITLE" | translate }}</span>
<div class="bento-grid">
  <div class="verticalPhoto">
    <img src="./../../../assets/photos/vertical_photo.jpeg" alt="Hobbie" />
  </div>
  <div class="verticalPhoto2">
    <img src="./../../../assets/photos/vertical_photo_2.jpg" alt="Hobbie" />
  </div>
  <div class="landscapePhoto">
    <img src="./../../../assets/photos/horizontal_photo.jpg" alt="Hobbie" />
  </div>
  <div class="squarePhoto">
    <img src="./../../../assets/photos/1x1_photo.jpg" alt="Hobbie" />
  </div>
  <div class="squarePhotoMe">
    <img src="./../../../assets/photos/1x1_me.jpg" alt="Hobbie" />
  </div>
  <div class="text">
    <p>{{ "HOBBIES.PHRASE_ONE" | translate }}</p>
    <p>{{ "HOBBIES.PHRASE_TWO" | translate }}</p>
    <p>{{ "HOBBIES.PHRASE_THREE" | translate }}</p>
  </div>
</div>
