<div class="bento-grid">
  <div class="verticalPhoto">
    <img src="./../../../assets/photos/vertical_photo.jpeg" alt="Hobbie" />
  </div>
  <div class="landscapePhoto2">
    <img src="./../../../assets/photos/horizontal_photo_2.jpg" alt="Hobbie" />
  </div>
  <div class="verticalPhoto2">
    <img src="./../../../assets/photos/vertical_photo_2.jpg" alt="Hobbie" />
  </div>
  <div class="landscapePhoto">
    <img src="./../../../assets/photos/horizontal_photo.jpg" alt="Hobbie" />
  </div>
  <div class="squarePhoto">
    <img src="./../../../assets/photos/1x1_photo.jpg" alt="Hobbie" />
  </div>
  <div class="squarePhotoMe">
    <img src="./../../../assets/photos/1x1_me.jpg" alt="Hobbie" />
  </div>
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>
      Nulla facilisi. Sed euismod mauris vel ex aliquet, at aliquet nunc
      tincidunt.
    </p>
    <p>Donec auctor justo auctor, aliquet nunc nec, aliquam nunc.</p>
  </div>
</div>
