@import "src/styles.scss";

.bento-grid {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-template-rows: auto auto auto;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "verticalPhoto text text"
    "verticalPhoto squarePhotoMe verticalPhoto2"
    "squarePhoto landscapePhoto verticalPhoto2";
  div {
    border-radius: 10px;
    img {
      border-radius: 10px;
    }
  }
}

img {
  width: 100%;
  height: auto;
}

.verticalPhoto {
  grid-area: verticalPhoto;
  img {
    height: 100%;
  }
}

.text {
  outline: 2px solid #d0d0d0;
  background: #f2f1eb;
  height: 100%;
  padding: 15px;
  grid-area: text;
  p {
    font-size: 19px;
    font-family: "Varela Round", sans-serif;
  }
}

.squarePhotoMe {
  grid-area: squarePhotoMe;
  img {
    height: 100%;
  }
}

.verticalPhoto2 {
  grid-area: verticalPhoto2;
}

.landscapePhoto {
  grid-area: landscapePhoto;
}

.squarePhoto {
  grid-area: squarePhoto;
}
