.bento-grid {
  display: grid;
  grid-template-columns: 365px 365px 365px;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "verticalPhoto text squarePhotoMe"
    "verticalPhoto landscapePhoto2 verticalPhoto2"
    "squarePhoto landscapePhoto verticalPhoto2";
  div {
    border-radius: 10px;
    img {
      border-radius: 10px;
    }
  }
}

img {
  width: 100%;
  height: auto;
}

.verticalPhoto {
  grid-area: verticalPhoto;
}

.text {
  background-color: gainsboro;
  grid-area: text;
}

.landscapePhoto2 {
  grid-area: landscapePhoto2;
}

.squarePhotoMe {
  grid-area: squarePhotoMe;
}

.verticalPhoto2 {
  grid-area: verticalPhoto2;
}

.landscapePhoto {
  grid-area: landscapePhoto;
}

.squarePhoto {
  grid-area: squarePhoto;
}
