<h2 class="section-title">{{ "PROYECTS.TITLE" | translate }}</h2>
<div class="item-container">
  <ng-container *ngIf="proyects.length > 0; else workingContent">
    <div class="card-item" *ngFor="let proyect of proyects">
      <img src="{{ proyect.image }}" alt="Blog" />
      <div class="card-item-body">
        <h1 class="card-item-title">
          {{ proyect.title | translate }}
        </h1>
        <h3 class="card-item-subtitle">
          {{ proyect.subtitle | translate }}
        </h3>
        <div>
          <p class="card-item-description">
            {{ proyect.description | translate }}
          </p>
          <div class="technologies-container">
            <img
              *ngFor="let technology of proyect.technologies"
              class="card-item-icon"
              src="{{ technology.image }}"
              alt="{{ technology.name }}"
            />
          </div>
        </div>
        <a href="{{ proyect.link }}" target="_blank"
          ><img
            src="./../../../assets/icons/link.png"
            alt="Link"
            class="card-item-icon"
        /></a>
      </div>
    </div>
  </ng-container>
  <ng-template #workingContent>
    <div class="card-item">
      <div class="img-example"></div>
      <div class="card-item-body">
        <h1 class="card-item-title">
          {{ "PROYECTS.WORKING_ON.TITLE" | translate }}
        </h1>
        <h3 class="card-item-subtitle">
          {{ "PROYECTS.WORKING_ON.SUBTITLE" | translate }}
        </h3>
        <p class="card-item-description">
          {{ "PROYECTS.WORKING_ON.DESCRIPTION" | translate }}
        </p>
      </div>
    </div>
  </ng-template>
</div>

<h2 class="section-title">{{ "BLOGS.TITLE" | translate }}</h2>
<div class="item-container">
  <div class="card-item" *ngFor="let blog of blogs">
    <img src="{{ blog.image }}" alt="Blog" />
    <div class="card-item-body">
      <h1 class="card-item-title">
        {{ blog.title | translate }}
      </h1>
      <h3 class="card-item-subtitle">
        {{ blog.subtitle | translate }}
      </h3>
      <p class="card-item-description">
        {{ blog.description | translate }}
      </p>
      <a href="{{ blog.link }}" target="_blank"
        ><img
          src="./../../../assets/icons/link.png"
          alt="Link"
          class="card-item-icon"
      /></a>
    </div>
  </div>
</div>
