<h2 class="section-title">{{ "PROYECTS.TITLE" | translate }}</h2>
<div class="item-container">
  <ng-container *ngIf="proyects.length > 0; else workingContent">
  </ng-container>
  <ng-template #workingContent>
    <div class="card-item">
      <div class="img-example"></div>
      <div class="card-item-body">
        <h1 class="card-item-title">
          {{ "PROYECTS.WORKING_ON.TITLE" | translate }}
        </h1>
        <h3 class="card-item-subtitle">
          {{ "PROYECTS.WORKING_ON.SUBTITLE" | translate }}
        </h3>
        <p class="card-item-description">
          {{ "PROYECTS.WORKING_ON.DESCRIPTION" | translate }}
        </p>
      </div>
    </div>
  </ng-template>
</div>

<h2 class="section-title">{{ "BLOGS.TITLE" | translate }}</h2>
<div class="item-container">
  <div *ngFor="let blog of blogs">
    <div class="card-item">
      <img src="{{ blog.image }}" alt="Blog" />
      <div class="card-item-body">
        <h1 class="card-item-title">
          {{ blog.title | translate }}
        </h1>
        <h3 class="card-item-subtitle">
          {{ blog.subtitle | translate }}
        </h3>
        <p class="card-item-description">
          {{ blog.description | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
