<div class="skills-container">
  <h2 class="title">{{ "SKILLS.TECHNOLOGIES" | translate }}</h2>
  <div class="item-list-container">
    <div class="item-container" *ngFor="let technology of technologies">
      <img
        src="{{ technology.imgUrl }}"
        class="card-img"
        alt="{{ technology.name }}"
      />
      <div class="item-text">
        <h2>
          {{ technology.name }}
        </h2>
        <p>{{ technology.level | translate }}</p>
      </div>
    </div>
  </div>
  <h2 class="title">{{ "SKILLS.SOFT_SKILLS" | translate }}</h2>
  <div class="item-list-container">
    <div
      class="item-container soft-skill-padding"
      *ngFor="let softSkill of softSkills"
    >
      <img
        src="{{ softSkill.imgUrl }}"
        class="card-img"
        alt="{{ softSkill.name }}"
      />
      <div class="item-text">
        <h2>
          {{ softSkill.name | translate }}
        </h2>
      </div>
    </div>
  </div>
</div>
