<div class="skills-container">
  <h2 class="section-title">{{ "SKILLS.TECHNOLOGIES" | translate }}</h2>
  <div class="item-list-container">
    <div class="item-container" *ngFor="let technology of technologies">
      <div>
        <img src="{{ technology.imgUrl }}" alt="{{ technology.name }}" />
      </div>
      <div class="item-text">
        <span class="item-title">
          {{ technology.name }}
        </span>
        <span class="item-level">{{ technology.level | translate }}</span>
      </div>
    </div>
  </div>
  <h2 class="section-title padding-top">
    {{ "SKILLS.SOFT_SKILLS" | translate }}
  </h2>
  <div class="item-list-container">
    <div
      class="item-container soft-skill-padding"
      *ngFor="let softSkill of softSkills"
    >
      <div class="item-text">
        <span class="item-title">
          {{ softSkill.name | translate }}
        </span>
      </div>
    </div>
  </div>
</div>
