@import "src/styles.scss";

h3 {
  // TODO Cambiar estilo del título
  text-align: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: $container-padding;
  padding-top: 10px;
}

.title {
  color: $dark-green-color;
  text-align: center;
}

.item-list-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-container {
  width: 30%;
  min-width: fit-content;
  img {
    float: left;
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  .item-text {
    h2 {
      padding: 0;
      margin: 0;
      // white-space: nowrap;
    }
    p {
      font-size: 1.5vw;
      color: grey;
      text-align: left;
      padding-left: 60px;
    }
  }
}

.soft-skill-padding {
  padding-bottom: 30px;
}
