<div class="navbar-container">
  <select
    class="form-select form-select-sg mb-2"
    #langSelect
    (change)="translate.use(langSelect.value)"
  >
    <option
      *ngFor="let lang of translate.getLangs()"
      [value]="lang"
      [selected]="lang === translate.currentLang"
    >
      {{ lang | uppercase }}
    </option>
  </select>

  <!-- <div class="navbar-flex">
    <div class="navbar-item">{{ "NAVBAR.HOME" | translate }}</div>
    <div class="navbar-item">{{ "NAVBAR.ABOUT" | translate }}</div>
    <div class="navbar-item">{{ "NAVBAR.SKILLS" | translate }}</div>
    <div class="navbar-item">{{ "NAVBAR.EXPERIENCE" | translate }}</div>
    <div class="navbar-item">{{ "NAVBAR.PROJECTS" | translate }}</div>
    <div class="navbar-item">{{ "NAVBAR.HOBBIES" | translate }}</div>
    <div class="navbar-item">{{ "NAVBAR.CONTACT" | translate }}</div>
  </div> -->
</div>
