.navbar-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
}

.navbar-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar-item {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 1.8em;
  margin-right: 35px;
}

select {
  width: auto;
  background-color: #f4f4f4;
}

option {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 1.5em;
}
