<div class="navbar-container">
  <div class="navbar-flex">
    <select
      class="form-select form-select-sg mb-2"
      #langSelect
      (change)="translate.use(langSelect.value)"
    >
      <option
        *ngFor="let lang of translate.getLangs()"
        [value]="lang"
        [selected]="lang === translate.currentLang"
      >
        {{ lang | uppercase }}
      </option>
    </select>

    <a href="#home" type="button" class="btn btn-outline-dark">
      {{ "NAVBAR.HOME" | translate }}
    </a>
    <a href="#about-me" type="button" class="btn btn-outline-dark">
      {{ "NAVBAR.ABOUT" | translate }}
    </a>
    <a href="#experience" type="button" class="btn btn-outline-dark">
      {{ "NAVBAR.EXPERIENCE" | translate }}
    </a>
    <a href="#skills" type="button" class="btn btn-outline-dark">
      {{ "NAVBAR.SKILLS" | translate }}
    </a>
    <a href="#projects" type="button" class="btn btn-outline-dark">
      {{ "NAVBAR.PROJECTS" | translate }}
    </a>
    <a href="#hobbies" type="button" class="btn btn-outline-dark">
      {{ "NAVBAR.HOBBIES" | translate }}
    </a>
    <a href="#contact" type="button" class="btn btn-outline-dark last-button">
      {{ "NAVBAR.CONTACT" | translate }}
    </a>
  </div>
</div>
